.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #212121;

  ul {
    list-style: none;
  }
}

.selfie {
  border-radius: 50%;
  width: 30%;
}
