.nav {
  position: sticky;
  top: 0;
  width: 100%;
  float: left;
  background-color: #212121;
  margin: 0;
  z-index: 1;
  padding: 0.4% 0.4% 0.4% 3%;
}

.h2 {
  border-right: 1px solid rgb(255, 255, 255);
  white-space: nowrap;
  padding-right: 80px;
  padding-left: 30px;
  margin-left: 10%;
}

ul{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: auto;
  text-align: center;
  .links {
    margin-left: 2%;
  }
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
}

.links {
  &:hover {
    text-shadow: -.25px -.25px 0 white, 
                .25px .25px white;
  }
}

.resume {
  background-color: rgba($color: #6c6c6c, $alpha: 1.0);
  color: lightgrey;
  padding: 0.5% 1% 0.5% 1%;
  margin-left: 2%;
  &:hover {
    background-color: rgba($color: #212121, $alpha: 1.0);
    a {
      color: rgb(151, 151, 151);
    }
  }
}

.placeholder {
  flex-grow: 1;
}

.end {
  margin-left: 45%;
  justify-self: flex-end;
}

.jump {
    position: relative;
    transform: translateY(-7%);
    display: inline-block;
    text-decoration: none;
    margin: 5px;
  }

  .icon {
    &:hover {
      fill: #03811c;
        padding-bottom: 20px;
        transition: 0.2s;
    }
  }

